[Unit]
Description=Packer first boot readiness helper
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/packer-firstboot-ready.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
